<!DOCTYPE html>
<html>
<style>
h1{text-align:center;}
p{text-align:center;
   font-size:20px;
}
</style>

<% provide(:title, "Home") %>
  
  <h1><%= yield(:title)%></h1>
  <p>
      This is the home page for Jared's individual project<br/><br/>
      <%= link_to "Generate Random Game", randgame_path %><br/><br/>
      <%= link_to "Full Game History", games_path %>
  </p>
  <h2> Current Standings <h2>
   <table style="width:100%">
    <tr>
    <th>Name</th>
    <th>Win</th>
    <th>Loss</th>
    <th>Pct</th>
    <th>Pts/G</th>
    </tr>
    
    <% standings.each do |player| %>
        <tr>
          <td><%= player[0] %></td>
          <td><%= player[1]["wins"] %></td>
          <td><%= player[1]["games"] -  player[1]["wins"] %></td>
          <td><%= (player[1]["wins"].to_f / player[1]["games"]).round(3) %></td>
          <td><%= (player[1]["pts"].to_f / player[1]["games"]).round(1) %></td>
        </tr>
    <% end%>
  </table>
